<div class="row">
  <h4>{{calendarService.getNowMonth()}}월</h4>
  <table class="bordered striped calendar">
    <thead>
      <tr>
        <th>SUN</th>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td [ngClass]="dateColor(weeks[i].month, weeks[i].day)" *ngFor="let item of createRange(7); let i=index">
          <b>{{weeks[i].day}}</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>