<div class="row" *ngIf="isEdit">
    <div class="input-field col s12 m2 l2">
      <input id="name" type="text" class="validate" #editMemberName placeholder="input name" [(ngModel)]="editedName" />
      <label for="name">Name</label>
    </div>
    <div class="input-field col s12 m4 l4">
      <input id="email" type="email" class="validate" #editMemberID placeholder="input email" />
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12 m4 l4">
      <input id="password" class="validate" #editMemberPassword type="password" placeholder="Input Password" />
      <label for="passsword">Password</label>
    </div>
    <div class="input-field col s12 m2 l2">
      <button class="waves-effect waves-light btn" (click)="
        addMember(numOfMember+1, newMemberName.value, newMemberID.value, newMemberPassword.value);
        newMemberName.value=''; newMemberID.value=''; newMemberPassword.value=''; getNumOfMembers();">
        add
      </button>
    </div>

</div>