<div class="row">
  <div class="row">
    <h4>Member Management</h4>
    <div class="input-field col s12 m2 l2">
      <input id="name" type="text" class="validate" #newMemberName placeholder="input name" />
      <label for="name">Name</label>
    </div>
    <div class="input-field col s12 m4 l4">
      <input id="email" type="email" class="validate" #newMemberEmail placeholder="input email" />
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12 m4 l4">
      <input id="password" class="validate" #newMemberPassword type="password" placeholder="input password" />
      <label for="passsword">Password</label>
    </div>
    <div class="input-field col s12 m2 l2">
      <button class="waves-effect waves-light btn" (click)="
        addMember(numOfMember+1, newMemberName.value, newMemberEmail.value, newMemberPassword.value);
        newMemberName.value=''; newMemberEmail.value=''; newMemberPassword.value=''; getNumOfMembers();">
        add
      </button>
    </div>
    <p class="error" *ngIf="errMessage">{{errMessage}}</p>
    {{resultMessage}}
  </div><br>

  <ul class="list">
    <li *ngFor="let m of members; let i=index">{{m.id}}. {{m.name}} | email: {{m.email}} | pw: {{m.password}}
      <member-edit (doPut)="doPut($event)" (doDelete)="doDelete($event)" [members]="m"></member-edit>
    </li>
  </ul>
  
</div>