<div class="row">
  <h4>{{calendarService.getNowMonth()}}월</h4>
  <table class="bordered calendar">
    <thead>
      <tr>
        <th class="main_cal_th">SUN</th>
        <th class="main_cal_th">MON</th>
        <th class="main_cal_th">TUE</th>
        <th class="main_cal_th">WED</th>
        <th class="main_cal_th">THU</th>
        <th class="main_cal_th">FRI</th>
        <th class="main_cal_th">SAT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of createRange(numOfWeek); let i=index" >
        <td class="main_cal_td" [ngClass]="calendarService.dateColor(weeks[i][j].month, weeks[i][j].day)"
        *ngFor="let item1 of createRange(7); let j=index"
        (click)="setCurrentDate()">
        <b>{{weeks[i][j].day}}</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>
