<div class="row">
  <h4>{{calendarService.getNowMonth()}}월</h4>
  <table class="bordered striped calendar">
    <thead>
      <tr>
        <th>SUN</th>
        <th>MON</th>
        <th>TUE</th>
        <th>WED</th>
        <th>THU</th>
        <th>FRI</th>
        <th>SAT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of createRange(numOfWeek); let i=index" >
        <td [ngClass]="calendarService.dateColor(weeks[i][j].month, weeks[i][j].day)"
        *ngFor="let item1 of createRange(7); let j=index"
        >
        <b>{{weeks[i][j].day}}</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>
