<nav class="lime lighten-3">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Calendar</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Help</a></li>
            <li><a href="#signup_modal">Sign-Up</a></li>
            <li>
                <!--<a href="#login_modal" *ngIf="!authService.isLogin" >Sign-In</a>
                <a href="" *ngIf="authService.isLogin">Sign-Out</a>-->
                <a href="#signin_modal">Sign-In</a>
                <a href="">Sign-Out</a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="">Help</a></li>
            <li><a href="#signup_modal">Sign-Up</a></li>
            <li>
                <!--<a href="#login_modal" *ngIf="!authService.isLogin">Sign-In</a>
                <a href="" *ngIf="authService.isLogin">Sign-Out</a>-->
                <a href="#signin_modal">Sign-In</a>
                <a href="">Sign-Out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- SignIn Modal -->
<div id="signin_modal" class="modal">
    <form [formGroup]="signInForm">
        <div class="modal-content">
            <h4>Sign-In</h4>
            <input formControlName="user_email" type="email" name="user_email" placeholder="Input Email">
            <span class="red-text" *ngIf="validEmail(getFormSignInType())">이메일을 형식에 맞게 입력해 주세요</span>
            <!--<input type="email" name="email" [(ngModel)]="userEmail" placeholder="Input Email">-->
            <input type="password" name="password" placeholder="Input Password">
            <!--<input type="password" name="password" [(ngModel)]="userEmail" placeholder="Input Password">-->
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign-In</a>
        </div>
    </form>
</div>

<!-- SignUp Modal -->
<div id="signup_modal" class="modal">
    <form [formGroup]="signUpForm">
        <div class="modal-content">
            <h4>Sign-Up</h4>
            <input formControlName="name" type="text" name="name"
             placeholder="Input Name">
            <input #inputEmail (keyup)="checkEmail(inputEmail.value)" type="email" name="user_email" placeholder="Input Email">
            <ul>
                <li *ngFor="let item of itemsOperator | async">{{item.email}}</li>
            </ul>
                <span>{{infoMessage}}</span>
            <!--<input #inputEmail (keyup)="search(inputEmail.value)" formControlName="user_email" type="email" name="user_email" 
                placeholder="Input Email">-->
            <!--<span class="red-text" *ngIf="(!validEmail(getFormSignUpType())) && this.signUpForm.controls.user_email.dirty">이메일을 형식에 맞게 입력해 주세요</span>-->
            <button (click)="checkEmail()" *ngIf="validEmail(getFormSignUpType())">중복확인</button>
            <input formControlName="password" type="password" 
             name="password" placeholder="Input Password">
            <span class="red-text" *ngIf="validPassword(getFormSignUpType())">비밀번호는 8자 이상</span>
            <input formControlName="password_confirm" type="password" 
                name="password_confirm" placeholder="Confirm Password">
            <span class="red-text" *ngIf="validCheckPassword()">비밀번호가 다릅니다</span>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign-Up</a>
        </div>
    </form>
</div>